.dialog {
  padding: 20px;
}

.chatContainer {
  width: 400px;
  height: 500px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
}

.myMessage {
  background-color: #dcf8c6;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-end;
}

.otherMessage {
  background-color: #ededed;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
  align-self: flex-start;
}

.chatContent {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  height: calc(100vh - 273px);
  overflow: auto;
}

.newMessage {
  animation: slide-up 0.5s ease both;
}

.audio {
  width: 100%;
}

.blur {
  filter: blur(8px);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
